:root {
    --blue:red;
    --dutch:#f5ebe0;
    --orange:#444;
}
.header{
    background-color: var(--blue); 
    color:var(--dutch);
    display:flex;
    justify-content: center;
    position:relative;
}

.headerContainer{
    width:100%;
    max-width: 1024px;
    margin: 30px 0px 100px 30px;

}
.headerContainer .listMode{
    margin: 30px 0px 0px 30px;
}

.headerList{
    display: flex;
    gap:35px;
    margin:20px 0px;

}
.headerListItem{
    display:flex;
    align-items: center;
    gap:10px;
    cursor:pointer;
}

.headerListItem.active{
    border: 1px solid var(--dutch);
    padding: 10px;
    border-radius: 20px;
}

.headerDesc{
    margin:10px 0px;
}

.headerButton{
    padding: 12px;
    margin:20px 20px 20px 75px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    margin: 10px 0px 50px 0px;
}

.headerSearch{
    height:1.875rem;
    width:100%;
    max-width: 710px;
    background-color: var(--dutch);
    display: flex;
    align-items: center;
    color:var(--blue);
    justify-content: space-between;
    padding: 10px 0px;
    border: 1px solid var(--orange);
    border-radius: 20px;
    position: absolute;
    bottom:-25px;
}
.headerIcon{
    color:var(--blue);
}

.Search{
    height:auto;
    margin: 3px 0px !important;

}

.headerSearchItem{
    cursor: pointer;
    display:flex;
    align-items: center;
    gap:10px;
    margin-left:5px;
}

.headerSearchInput{
    border:none;
    color:var(--blue);
    background-color: var(--dutch);
    outline:none;
    font-size: 1rem;
}

.headerSearchInput::placeholder{
    color:var(--blue);
    font-size: 1rem;
}
.datepicker{
    z-index: 2;
    position: absolute;
    top:50px;
    border-radius:5px;
}

.rdrCalendarWrapper{
    border-radius: 10px !important;
}

.rdrCalendarWrapper,.rdrNextPrevButton,.rdrDateRangeWrapper,.rdrDayDisabled,.rdrDateDisplayWrapper{
    background-color: var(--dutch)!important;
}
.rdrInRange{
    background-color: var(--orange)!important;
}
.rdrEndEdge, .rdrStartEdge{
    background-color: var(--orange)!important;
}
button.rdrDay.rdrDayHovered{
    border-color: var(--orange)!important;
}
.rdrDateDisplayItemActive,.rdrDayStartPreview,.rdrDayEndPreview,.rdrDayInPreview{
    border-color: var(--orange)!important;
}
.rdrDayToday .rdrDayNumber span:after{
    background-color:var(--orange)!important;
}